<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='main.css') }}" rel="stylesheet" />
    <title>{{ name }}</title>
  </head>
  <body>
    <header>
            <h1>{{ name }}</h1>
      <h2>{{ role }}</h2>
    </header>
    <main>
      <ul>
        <li><a href="{{ homepage.url }}">{{ homepage.title }}</a></li>
        <li><a href="{{ github }}">My GitHub Profile</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Medium</a></li>
        <li>etc...</li>
      </ul>
    </main>
    <script src="{{ url_for('static', path='main.js') }}" />
</script>
  </body>
</html>
