<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='main.css') }}" rel="stylesheet" />
    <title>{{ settings.name | default("My Portfolio") }}</title>
  </head>
  <body>
    <header>
      <h1>{% if settings.name %}{{ settings.name }}{% else %}<span class="missing-setting">'name' is not set!</span>{% endif %}</h1>
      <h2>{% if settings.role %}{{ settings.role }}{% else %}<span class="missing-setting">'role' is not set!</span>{% endif %}</h2>
    </header>
    <main>
  <ul class="main-list">
    {% if settings.homepage %}
      <li>
        <a href="{{ settings.homepage.url }}">
          <span class="link-content">{{ settings.homepage.title }}</span>
        </a>
      </li>
    {% else %}
      <li class="non-link">
        <span class="link-content">
          Check your settings: <span class="missing-setting">'homepage' is not set</span>
        </span>
      </li>
    {% endif %}
    {% if settings.github_user %}
      <li>
        <a href="https://github.com/{{ settings.github_user }}">
          <span class="link-content">My GitHub Profile</span>
        </a>
      </li>
    {% else %}
      <li class="non-link">
        <span class="link-content">
          Check your settings: <span class="missing-setting">'github_user' is not set</span>
        </span>
      </li>
    {% endif %}
  </ul>
  <h3>My Social Media</h3>
</main>
    <script src="{{ url_for('static', path='main.js') }}"></script>
  </body>
</html>
